@model ChangePasswordDTO
@{
  ViewBag.Title = "ChangePassword";
  ViewBag.CurrentUrl = "~/Account/ChangePassword";
}
<div class="center-box">
  <h2 class="bottom-m header">Change Password</h2>

  <form asp-action="ChangePassword" asp-controller="Account" method="post">
    <input type="hidden" asp-for="Token" />

    <div class="mb-3">
      <label asp-for="Email" class="form-label"></label>
      <input asp-for="Email" class="form-control" readonly />
    </div>
    <div class="mb-3">
      <label asp-for="NewPassword" class="form-label"></label>
      <input asp-for="NewPassword" class="form-control" />
      <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
      <label asp-for="ConfirmNewPassword" class="form-label"></label>
      <input asp-for="ConfirmNewPassword" class="form-control" />
      <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-success w-100 p-2" />
    
    @* <input type="submit" value="Register" class="btn btn-success w-100 p-2" /> *@
    @* <p class="text-center mt-2"> *@
    @*   Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a> *@
    @* </p> *@


    <div asp-validation-summary="All" class="text-red"></div>

    @if (ViewBag.Errors != null)
    {
      <div class="text-red ml">
        <ul>
          @foreach (string error in ViewBag.Errors)
          {
            <li class="ml">@error</li>
          }
        </ul>
      </div>
    }

  </form>

</div>

@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}